// animaciones: compuesta por un keyframe (declaracion y definicion de la animacion) y el lugar
// donde vamos a usar esa animacion

// declaramos y definimos animacion
@keyframes transformacion{
    0%{transform: translate (-100px, -100px);}
    25%{transform: rotate(200deg);transform: translate(0,0);}
    50%{transform:rotate(0deg);transform: scale(2,2);}
    75%{transform:scale(1,1);transform: skew(60deg,100deg);}
    100%{transform: skew(0deg,0deg);}
}
.logo {
    animation-name: transformacion;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
}

@keyframes aparecer{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
h3{animation-name: aparecer;animation-duration: 2s;animation-iteration-count: infinite;}