// TRANSITION
// propiedad que se aplica a la selectora de etiqueta / clase base donde le decimos que
// propiedades queremos transicionar y el tiempo que queremos que tarde. Se puede hacer la
// transicion de todas las propiedades haciendo uso del "all"
.encabezado{width:100px;height: 100px; background-color: aquamarine;transition: height 1s, width 2s, background-color 3s;}
.encabezado:hover{width: 200px; height: 200px;background-color: yellow;}
.linke{transition: all 2s;}
.linke:hover{transform: translateY(-50px);}